@model Post

<h1>Add Post</h1>

<div>
    <form asp-controller="Post" asp-action="Add">
        <div asp-validation-summary="ModelOnly"></div>

        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" type="text" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Body"></label>
            <textarea asp-for="Body" class="form-control" rows="20" id="postarea"></textarea>
            <span asp-validation-for="Body" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Add Post" />
        </div>

    </form>
</div>


<script>tinymce.init({
    selector: '#postarea'
  });
</script>
