@model Post

<h1>Add Post</h1>

<div>
    <form asp-controller="Post" asp-action="Add">
        <div asp-validation-summary="ModelOnly"></div>

        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" type="text" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="form-group" id="category">
            <label>Category <small class="add-category"><button type="button" data-toggle="modal" data-target="#addCategoryModal">Add Category</button></small></label>
            <select asp-for="CategoryId" class="form-control">
                <option>- Select Category-</option>
                <option v-for='category in categories' v-bind:value="category.id">{{category.name}} </option>   
            </select> 

            <partial name="_Category" />

        </div>

        <div class="form-group">
            <label asp-for="Body"></label>
            <textarea asp-for="Body" class="form-control" rows="20" id="postarea"></textarea>
            <span asp-validation-for="Body" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Add Post" />
        </div>

    </form>
</div>

<script src="~/js/vue/category-vue.js"></script>

<script>tinymce.init({
    selector: '#postarea'
  });
</script>
