@model List<Post>

@using System.Text.RegularExpressions

@functions{
    string UntagTruncate(string content)
    {
        var regex = Regex.Replace(content, "<.*?>", String.Empty);

        return regex.Substring(0, Math.Min(regex.Length, 280)) + " ...";
    }
}

@{
    ViewData["Title"] = "Home Page";
    ViewData["Bg-url"] = "home-bg.jpg";
}


<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            @foreach (var post in Model)
            {
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            @post.Title
                        </h2>
                        <h5 class="post-subtitle">
                            @UntagTruncate(post.Body)
                        </h5>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#">@post.User.UserName</a>
                        on September 24, 2018
                    </p>
                </div>
                <hr>
            }

            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div>
        </div>
    </div>
</div>
